/SudokuSolver/target/
/SudokuSolver/sudokus/
Dokumentit/Performances.xlsx
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom2.xml
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties