/SudokuSolver/target/
/SudokuSolver/sudoku1.txt
/SudokuSolver/sudoku2.txt
/SudokuSolver/sudoku3.txt
/SudokuSolver/sudoku16.txt
/SudokuSolver/sudoku16a.txt
/SudokuSolver/sudoku16easy.csv
/SudokuSolver/sudoku25.txt
/SudokuSolver/sudoku25a.txt
/SudokuSolver/sudoku.csv
/SudokuSolver/sudoku3.csv
/SudokuSolver/sudoku2.csv
/SudokuSolver/sudoku1.csv
/SudokuSolver/hardest.txt
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties